.App {
  text-align: center;
}

.portContent{
  height: 100vh;
  width: 100vw;
  background-color: red;
}

#portHeader{
  display: flex;
  flex-flow: column nowrap;
  background-color: blue;
}

#headerTitle{
  margin: 0;
  padding-top: 20px;
}
#searchContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-right: 20px;
}


#headerLinks{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#portFooter{
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  width: 100vw;
  bottom: 0;
  background-color: green;
}